{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash alert alert-{{ label }} autohide">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
