{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code>D:/Logiciel/Wamp64/www/Symfony/gallery/src/Controller/PagesController.php</code></li>
            <li>Your template at <code>D:/Logiciel/Wamp64/www/Symfony/gallery/templates/pages/painting.html.twig</code></li>
        </ul>
    </div>
{% endblock %}
