{% extends 'pages/admin/base.html.twig' %}

{% block title %}Gallery - Panel Catégories{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-md-9 offset-1">
                <h1 class="display-4 pb-4">Liste des catégories</h1>
                <a href="{{ path("app_new_category") }}" class="btn btn-outline-primary">Nouvelle catégories</a>
            </div>
        </section>
        <section>
            <div class="row" data-controller="datatable" data-order-index="0" data-order-dir="asc" id="categoryTable">
                <table class="table table-hover display pt-3" >
                    <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Nombre d'oeuvre</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cat in category %}
                        <tr>
                            <td>{{ cat.name }}</td>
                            <td>{{ cat.works|length }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}
